@mixin gt-pressura-regular {
    @font-face {
        font-family: "GT Pressure";
        font-style: normal;
        font-weight: 100;
        src: url("../fonts/gt-pressura-regular.ttf") format("ttf");
    }
}
